.header{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding: 3px;
 
 border-bottom: 2px solid lightgrey;
 
}
.cardre{
    height:580px;
    width:400px;
    position:absolute;
    bottom: 0px;
    right:0px;
    border:1px solid lightgrey;
    border-radius:20px;
}
.s12{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
     
}
.quick{
    height:40px;
    width:300px;
    position: relative;
    top: 350px;
    left: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 5px 9px 9px #888888;
    padding: 5px;
}

.col_s10{
    /* padding: 25px;
    position: absolute;
    right: 0;
    border-radius: 20px;
    background-color: #888888;
    margin-top: 20px;
    margin-bottom: 80px;
    bottom: 20;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.col-s2{
    
    /* position: absolute; */
    /* right: 0; */
    /* margin-top: 100px; */
}
.yooo{
    margin-bottom: 10px;
}

.col-s2 {
    text-align: right;
}

.col_s10 {
	padding: 8px;
	background-color: #cdcdcd;
	border-radius: 8px;
}

.yooo .card-panel {
	display: flex;
	justify-content: end;
}